.contact {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
  text-align: center;
}
h1 {
  width: 25%;
  margin: 0 auto;
}
.form_area {
  width: 65%;
  margin: 0 auto;
}
.form_area p {
  padding: 64px 0 16px;
  font-size: 20px;
  line-height: 1.5;
}
input::placeholder,
textarea::placeholder {
  box-sizing: border-box;
  font-size: 16px;
  color: rgba(186, 186, 186, 0.8);
}

input,
textarea {
  display: block;
  margin: 0 auto 12px;
  width: 100%;
  border: 1px solid #476b6b;
  border-radius: 5px;
}
input {
  padding: 8px 10px 5px;
  margin-right: 0;
  box-sizing: border-box;
}
textarea {
  padding: 8px 10px 130px;
  margin-right: 0;
  box-sizing: border-box;
}
button {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #476b6b;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background: #476b6b;
}

/* thanks.html */
.thanks {
  margin: 0 auto;
  padding-top: 112px;
  text-align: center;
}
.thanks h2 {
  font-size: 36px;
  font-weight: bold;
  color: #476b6b;
}
.thanks p {
  padding-top: 32px;
  font-size: 24px;
  line-height: 1.5;
}

/* フッター */
footer {
  margin: 112px 100px 0 0;
}

/* sp_レスポンシブ */ /* sp_レスポンシブ */ /* sp_レスポンシブ */
@media screen and (max-width: 767px) {
  main {
    margin: 0 5%;
  }
  .contact {
    padding-top: 80px;
  }
  h1 {
    width: 40%;
  }
  .form_area {
    width: 100%;
  }
  .form_area p {
    font-size: 14px;
    padding: 24px 0 16px;
  }
  .form {
    margin: 0 auto;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }
  /* フッター */
  footer {
    margin-top: 64px;
  }

  /* thanks.html */
  .thanks {
    padding-top: 40px;
    text-align: center;
  }
  .thanks h2 {
    font-size: 20px;
  }
  .thanks p {
    padding-top: 28px;
    font-size: 16px;
  }
}
